.App {
  background-color: bisque;
  margin: 20px 30px;
  padding: 20px 30px;
  text-align: center;
  min-height: 400px;
}

a {
  text-decoration: none;
  margin: 5px;
  padding: 5px;
}

a:hover {
  background-color: rgb(215, 193, 159);
  border-radius: 5px;
}

table {
  margin: 2rem auto;
  border-collapse: collapse;
}

td,
th {
  border: 1px solid;
  padding: 1rem;
}

button {
  width: 5rem;
  margin: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button:hover {
  background-color: black;
  color: white;
}

.form-field {
  margin: 1rem;
}

input {
  width: 20rem;
  padding: 0.2rem;
}

footer {
  background-color: antiquewhite;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


/*  add book */

form input {
  padding: 6px;
  margin: 10px;
  /* width: 200px; */
  border: 1px solid
}